{% extends "layouts/base.twig" %}

{% block body %}

    <h1>Hello World</h1>
    <p>Welcome to the NewsHour starter theme for Wordpress!</p>

    <h3>Latest Posts</h3>
    <ul class="list-unstyled">
        {% for post in latest_posts %}
        <li><a href="{{ post.link }}">{{ post.title }}</a>
        {% endfor %}
    </ul>

    <h3>Latest Pages</h3>
    <ul class="list-unstyled">
        {% for page in latest_pages %}
        <li><a href="{{ page.link }}">{{ page.title }}</a>
        {% endfor %}
    </ul>

    <div class="mt-3 p-3 mb-3" id="hello-world"></div>

    <hr>

    <h2>Hello Form</h2>
    <p>This is a simple form which submits a POST request.</p>

    <form action="{{ home_url('/hello.do') }}" method="POST">
        {{ nonce_field() }}
        {% if success_msg %}
            <div class="mt-3 p-3 mb-3 alert alert-success">{{ success_msg }}</div>
        {% endif %}
        <div class="mb-3">
            <label for="first_name" class="form-label">What is your first name?</label>
            <div class="input-group has-validation">
                <input type="text" name="first_name" id="first_name" placeholder="First Name" class="form-control{% if error_msg %} is-invalid{% endif %}">
                {% if error_msg %}
                    <div class="invalid-feedback">{{ error_msg }}</div>
                {% endif %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}