{% extends "layouts/base.twig" %}

{% block body %}

    <article class="mb-3">

        <nav aria-label="breadcrumb" class="mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ site.url }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
            </ol>
        </nav>

        <h1>{{ post.title }}</h1>

        {{ post.content }}

    </article>

    {% if post.categories %}

        <h5>These are the post's categories:</h5>

        <ul class="list-inline">
            {% for category in post.categories %}
            <li class="list-inline-item"><a href="{{ category.link }}">{{ category }}</a></li>
            {% endfor %}
        </ul>

    {% endif %}

    {% if post.tags %}

        <h5>These are the post's tags:</h5>

        <ul class="list-inline">
            {% for tag in post.tags %}
            <li class="list-inline-item"><a href="{{ tag.link }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>

    {% endif %}

    <h3>A custom context</h3>

    {% if foo %}
    <p>
        The key `foo` has the value <b>{{ foo }}</b>. It was set using the example custom class <em>ExampleContext</em>. This class was added to
        the service container using the filter `core_theme_container` in the <em>FiltersManager</em> class.
    </p>
    <pre>
        <code>
/**
 * An example custom context which extends BaseContext.
 */
class ExampleContext extends BaseContext {

    /**
    * @param Request $request
    * @param array $initial
    */
    public function __construct(Request $request, array $initial) {

        // These key/value pairs will be available for this context and can be accessed in
        // the controller or in the view template.

        $initial['foo'] = 'bar';
        ...
        </code>
    </pre>
    {% endif %}

{% endblock %}